*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  box-sizing: inherit;
}

html {
  /* font-size: 10px; now we have 1 rem = 10px - now we can convert all px sizes to rem easily */
  /* !!!!  Default browser is 16px so if you want 10px - then do a percentage of 10/16 = .625 !!!!! */
  font-size: 62.5%;
  /* accounts for user defined font sizes, but still use 10 pixel to 1 rem per above*/
}

body {
  box-sizing: inherited;
  /* inherited from "*" above */
}